age 1.0.0
awscli 2.2.11
# bat 0.18.1 broken link for arm macs
caddy 2.6.2
cloudflared 2021.9.2
ctop 0.7.7
deno 1.24.2
dotenv-linter 3.2.0
duf 0.8.1
dust 0.8.0
# exa 0.10.1 broken link for arm macos
fd 8.3.2
fzf 0.27.2
git system
github-cli 2.2.0
golang 1.17.3
golangci-lint 1.38.0
hadolint 2.10.0
jq 1.6
lazydocker 0.18.1
litestream 0.3.4
neovim 0.8.0
nodejs 18.7.0
python 3.9.2
ripgrep 13.0.0
shellcheck 0.7.2
sops 3.7.3
terraform 1.2.2
terraform-ls 0.22.0
