*.log
.netrwhist
exports.sh
config/nvim/plugged/*
config/hub
config/vim-tmp/*
config/configstore
config/coc/*
!config/coc/extensions/
config/coc/extensions/*
!config/coc/extensions/package.json
!config/vim-tmp/.gitkeep
