*.log
.netrwhist
dotfiles/config/nvim/plugged/*
dotfiles/config/hub
dotfiles/config/vim-tmp/*
dotfiles/config/vue
dotfiles/config/cdpath/*
!dotfiles/config/cdpath/.gitkeep
dotfiles/config/configstore
dotfiles/config/coc/*
!dotfiles/config/coc/extensions/
dotfiles/config/coc/extensions/*
!dotfiles/config/coc/extensions/package.json
!dotfiles/config/vim-tmp/.gitkeep
node_modules
dotfiles/config/waypoint
dotfiles/config/gh/hosts.yml
