*.log
.netrwhist
dotfiles/config/nvim/plugged/*
dotfiles/config/hub
dotfiles/config/vim-tmp/*
!dotfiles/config/vim-tmp/.gitkeep
dotfiles/config/nvim-tmp/*
!dotfiles/config/nvim-tmp/.gitkeep
dotfiles/config/vue
dotfiles/config/nvim-undo/*
!dotfiles/config/nvim-undo/.gitkeep
dotfiles/config/vim-undo/*
!dotfiles/config/vim-undo/.gitkeep
dotfiles/config/cdpath/*
!dotfiles/config/cdpath/.gitkeep
dotfiles/config/configstore
node_modules
dotfiles/config/.bombadillo.ini
dotfiles/config/asciinema
dotfiles/config/byobu
dotfiles/config/caddy
dotfiles/config/gh/hosts.yml
dotfiles/config/github-copilot
dotfiles/config/lazygit
dotfiles/config/nextjs-nodejs/
dotfiles/config/planetscale
dotfiles/config/waypoint
dotfiles/config/btop
dotfiles/config/.wrangler/
