"*":
  editor:
    softWrap: true
    invisibles: {}
    tabLength: 4
  core:
    followSymlinks: true
    themes: [
      "seti-ui"
      "seti-syntax"
    ]
    projectHome: "/Users/albertommr/Documents"
  "exception-reporting":
    userId: "4a138ac0-e767-65b6-447b-2bf73caf9391"
  welcome:
    showOnStartup: false
  linter:
    subtleLinterErrors: [
      "jsxhint"
    ]
  "autocomplete-plus":
    confirmCompletion: "enter"
  react: {}
  "linter-jshint": {}
  jshint:
    supportLintingJsx: true
